apiVersion: v1
kind: Service
metadata:
  name: ai-assistant-service
spec:
  type: LoadBalancer
  selector:
    app: ai-assistant
  ports:
    - protocol: TCP
      port: 80         
      targetPort: 8501 

apiVersion: v1
kind: Service
metadata:
  name: ai-assistant-service
  namespace: "2401121"
spec:
  selector:
    app: ai-assistant
  ports:
    - protocol: TCP
      port: 8085
      targetPort: 8085
  type: ClusterIP


